<h1>Play Scene</h1>

<center>
  <br>
  <strong> <%= @scene.sceneName %>  </strong>
  <p> <%= @scene.description %> </p>

<h6> What should you do? </h6>

  <ul>
    <% @scene.decisions.each do |decision| %>
    <hr>
    <li><p><%= decision.decisionDescription %> </p> </li>



    <%= link_to 'Choose this decision', '/player/' + @adventure.id.to_s + '/' + decision.sceneToGoTO.to_s,
    :class => 'btn btn-primary'
     %>

  <% end %>
  </ul>
