
<center>
  <div class="container">
  <br>
  <h2> <strong> <%= @scene.sceneName %>  </strong> </h2>
  <h4> <%= @scene.description %> </h4>



    <% @scene.decisions.each do |decision| %>
    <hr>

    <%= link_to decision.decisionDescription, '/player/' + @adventure.id.to_s + '/' + decision.sceneToGoTO.to_s,
    :class => 'btn btn-primary'
     %>

</hr>
  <% end %>

<div align="right">
  <%= link_to "Back to Main Menu", home_path,
  :class => 'btn btn-secondary'
   %>
   </div>

  </div>
</center>
