
<center>

  <div class="jumbotron">
    <div class="container">

<h1><strong><%= @adventure.name %></strong></h1>
<br><br>
<h5> <%= @adventure.description %> </h5>

<p><small>Creator: <%= @adventure.creator %> </small>
  <br><br>

<%= link_to 'Begin Adventure', '/player/' + @adventure.id.to_s + '/' + @scene.id.to_s,
:class => 'btn btn-primary'
 %>
 </div>
 </div>
 </center>
