
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to Westmont Create Your Own Adventure!</h1>
      <p>

        The ultimate westmont themed create your own adventure.
      </p>
        <hr>
        <a style="color: white;" class="btn btn-secondary" role="button">See Adventures »</a>
        <a style="color: white;" class="btn btn-primary" role="button">Create your own adventure »</a>

    </div>
  </div>
</main>
