<head>
  <style>
    body{
      background-color: #c2c2d6;
    }
    </style>
</head>

<main role="main">
  <center>

  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to Westmont's Create Your Own Adventure!</h1>
      <p>

        The ultimate Westmont-themed create your own adventure.
      </p>
        <hr>


  <%= link_to "Edit and Play Adventures »", adventures_path,
    :class => 'btn btn-primary' %>

  <%= link_to "Create your own adventure »", new_adventure_path,
    :class => 'btn btn-success' %>


    </div>
  </div>
  </center>
</main>
