
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to Westmont Create Your Own Adventure!</h1>
      <p>

        The ultimate westmont themed create your own adventure.
      </p>
        <hr>


  <%= link_to "Edit and Play Adventures »", adventures_path,
    :class => 'btn btn-secondary' %>

  <%= link_to "Create your own adventure »", new_adventure_path,
    :class => 'btn btn-primary' %>


    </div>
  </div>
</main>
